

body{
  text-align: center;
  background-color: #456;
}
.grass{
  width: 64px;
  height: 64px;
  background-image: url(grass.png);
  background-position: center 24px;
  background-repeat: no-repeat;
  display: inline-block;
  background-color: #72c172;
}
.miner{
  width: 64px;
  height: 64px;
  background-image: url(miner.png);
  position: absolute;
}
.bomb{
  width: 64px;
  height: 64px;
  background-image: url(bomb.png);
}
#score{
  color: white;
  position: absolute;
  right: 200px;
  top: 350px;
}

#map{
  width: 640px;
  margin: auto;
  transform: scale(0.85);
  top: 0;
}
#controls{
  margin: auto;
}
